.bg-body{
  background-color: #541baa;
}

.bg-primary{
  background-color: #5418AA !important;
}

.botoes-menu {
    justify-content: space-around;
}

.btn-verde{
  border-color: #0FFF00;
  padding:0.75em;
  margin-right: 0.75em;
}

.btn-verde:hover {
  border-color: #0FFF00;
  background-color: #0FFF00;
  color: #5418AA;
}

.menu-text-login{
  padding-left: 0.5em;
}

.text-sobre{
  color: #fff;
  text-align: center;
}

.text-valor{
  color: #fff;
  text-align: center;
}

.home-botoes-sobre{
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
}

.btn-professores{
  border-color: #00F9FF;
  padding:0.75em;
  margin-right: 0.75em;
  background-color: none;
  color: #00F9FF;
  border: 3px solid;
}

.btn-professores:hover {
  border-color: #00F9FF;
  background-color: #00F9FF;
  color: #5418AA;
}

.btn-hora{
  border-color: #FFD400;
  padding:0.75em;
  margin-right: 0.75em;
  background-color: none;
  color: #FFD400;
  border: 3px solid;
}

.btn-hora:hover {
  border-color: #FFD400;
  background-color: #FFD400;
  color: #5418AA;
}

.btn-matricula{
  border-color: #0FFF00;
  padding:0.75em;
  margin-right: 0.75em;
  background-color: none;
  color: #0FFF00;
  border: 3px solid;
}

.btn-matricula:hover {
  border-color: #0FFF00;
  background-color: #0FFF00;
  color: #5418AA;
}

.bg-professores{
  background-image: url("imagens/bg-titulos.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.title-professores{
  font-family: 'Roboto Condensed', sans-serif;
    color: #0FFF00;
    text-align: center;
    font-weight: 400;
}

.img-individual {
    width: 100%;
}

.home-titulo-individual{
  color: #fff;
}

.home-text-individual{
  color: #fff;
}


.home-titulo-materia{
  color: #FFD400;
}

.home-conteudo-prof{
  margin-top:1em;
}

.home-bg-turno-1{
  background-color: #F20893;
  text-align: center;
  justify-content:center;
  padding-top: 0.5em;
}


.home-bg-turno-2{
  background-color: #FF9D00;
  text-align: center;
  justify-content:center;
  padding-top: 0.5em;
}


.home-bg-turno-3{
  background-color: #340D72;
  text-align: center;
  justify-content:center;
  padding-top: 0.5em;
}

.home-title-turno{
  color: #fff;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;

}

.home-title-dia{
  color: #00D9EA;
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}


.home-title-hora{
  color: #fff;
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

.home-text-materia{
  color:#0FFF00;
    font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size:1.5em;
}

.home-text-contato{
  color:#00D9EA;
    font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size:1.5em;
}


.home-text2-matriculas{
  color:#fff;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size:2em;
}


.home-text-matriculas{
  color:#0FFF00;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
}

.home-text-valor{
  color:#fff;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size:3em;
}

.espaco-antes-carrosel{
  padding-top: 10em;
  padding-bottom: 5em;

}

.espaco-valor{
  padding-bottom: 5em;

}


.icones-prof{
  font-size:1.5em;
  color: #00D9EA;
}



.icones-prof{
  font-size:1.5em;
  color: #00D9EA;
}

.icones-contato{
  font-size:1.5em;
  color: #FF9D00;
}

.matricula-titulo{
  color:#fff;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
}

.header-modal-matricula{
  border-top-left-radius: 0;
border-top-right-radius: 0;
}

.cor-botao-fechar{
    color: #fff;
      text-shadow: 0 1px 0 #5418AA;
}

.cor-botao-fechar :hover {
    color: #000;
    text-shadow: 0 1px 0 #5418AA;
}

.bg-manha{
  background-color: #F20893;
  display: flex;
flex-direction: column;
align-items: center;
}


.bg-tarde{
  background-color: #FF9D00;
  display: flex;
flex-direction: column;
align-items: center;
}


.bg-noite{
  background-color: #340D72;
  display: flex;
flex-direction: column;
align-items: center;
}

.container-botoes{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
